1. (Convert Celsius to Fahrenheit) Write a program that reads a Celsius degree from the console and converts it to
Fahrenheit and displays the result. The formula for the conversion is as follows: fahrenheit = (9 / 5) * celsius + 32

In [ ]:
cel=float(input("Enter a value in celcius : "))
fahrenheit = (9 / 5) * cel + 32
print(f"{cel} celcius =",fahrenheit)

Enter a value in celcius : 43
43.0 celcius = 109.4

2. (Compute the volume of a cylinder) Write a program that reads in the radius and length of a cylinder and computes
the area and volume using the following formulas: area = radius * radius * π, volume = area * length

In [ ]:
r=float(input("Enter the radius of the cylinder : "))
l=float(input("Enter the length of the cylinder : "))
a=r*r*3.14
v=a*l
print(f"Area of the cylinder = {a}")
print(f"Volume of the cylinder = {v}")

Enter the radius of the cylinder : 5.5
Enter the length of the cylinder : 12
Area of the cylinder = 94.985
Volume of the cylinder = 1139.82

3. (Convert feet into meters) Write a program that reads a number in feet, converts it to meters, and displays the
result. One foot is 0.305 meters.

In [ ]:
f=float(input("Enter a value in feet : "))
m=f*0.305
print(f"{f} feet =",m)

Enter a value in feet : 16.5
16.5 feet = 5.0325

4. (Convert pounds into kilograms) Write a program that converts pounds into kilograms. The program prompts the
user to enter a value in pounds, converts it to kilograms, and displays the result. One pound is 0.454 kilograms.

In [ ]:
p=float(input("Enter a value in pounds : "))
k=p*0.454
print(f"{p} pounds = {k} kilograms")

Enter a value in pounds : 55.5
55.5 pounds = 25.197 kilograms

5. (Financial application: calculate tips) Write a program that reads the subtotal and the gratuity rate and computes
the gratuity and total. For example, if the user enters 10 for the subtotal and 15% for the gratuity rate, the program
displays 1.5 as the gratuity and 11.5 as the total.

In [ ]:
s=int(input("Enter subtotal : "))
g=int(input("Enter gratuity rate in percent : "))
G=s*(g/100)
t=s+G
print(f"Gratuity = {G}")
print(f"Total = {t}")

Enter subtotal : 10
Enter gratuity rate in percent : 15
Gratuity = 1.5
Total = 11.5

6.Solve the Following

In [2]:
employee_name=input("Enter employee's name: ")
hours_worked=float(input("Enter number of hours worked in a week: "))
pay_rate=float(input("Enter hourly pay rate: "))
federal_tax_rate=float(input("Enter federal tax withholding rate (e.g., 0.20): "))
state_tax_rate=float(input("Enter state tax withholding rate (e.g., 0.09): "))
gross_pay = hours_worked * pay_rate
federal_withholding = gross_pay * federal_tax_rate
state_withholding = gross_pay * state_tax_rate
total_deduction = federal_withholding + state_withholding
net_pay = gross_pay - total_deduction
print("\nEmployee Name:", employee_name)
print("Hours Worked:", hours_worked)
print("Pay Rate: $", format(pay_rate, ".2f"), sep="")
print("Gross Pay: $", format(gross_pay, ".2f"), sep="")
print("Deductions:")
print("  Federal Withholding (", format(federal_tax_rate * 100, ".1f"), "%): $", format(federal_withholding, ".2f"), sep="")
print("  State Withholding (", format(state_tax_rate * 100, ".1f"), "%): $", format(state_withholding, ".2f"), sep="")
print("  Total Deduction: $", format(total_deduction, ".2f"), sep="")
print("Net Pay: $", format(net_pay, ".2f"), sep="")

Enter employee's name: smith
Enter number of hours worked in a week: 10
Enter hourly pay rate: 9.75
Enter federal tax withholding rate (e.g., 0.20): 0.20
Enter state tax withholding rate (e.g., 0.09): 0.09

Employee Name: smith
Hours Worked: 10.0
Pay Rate: $9.75
Gross Pay: $97.50
Deductions:
  Federal Withholding (20.0%): $19.50
  State Withholding (9.0%): $8.78
  Total Deduction: $28.27
Net Pay: $69.22

7.Solve the Following

In [3]:
investment_amount = float(input("Enter investment amount: "))
annual_interest_rate = float(input("Enter annual interest rate (e.g., 4.25): "))
years = int(input("Enter number of years: "))
monthly_interest_rate = annual_interest_rate / 1200
future_investment_value = investment_amount * (1 + monthly_interest_rate) ** (years * 12)
print("Accumulated value is", format(future_investment_value, ".2f"))

Enter investment amount: 1000
Enter annual interest rate (e.g., 4.25): 4.25
Enter number of years: 1
Accumulated value is 1043.34

8. Ask the user to enter a value in miles and convert it in kilo meters 1 kilometer=0.6213 Mile

In [ ]:
m=float(input("Enter a value in miles : "))
k=m/0.6213
print(f"{m} miles =",k)

Enter a value in miles : 10
10.0 miles = 16.095284081764046

9. Take two integers from the user and check whether first is multiple of second

In [ ]:
a=int(input("Enter first number : "))
b=int(input("Enter second number : "))
if(a%b==0):
  print(f"{a} is a multiple of {b}")
else:
  print(f"{a} is not a multiple of {b}")

10. Input five integers from user and display minimum and maximum

In [ ]:
a=int(input("Enter first number : "))
b=int(input("Enter second number : "))
c=int(input("Enter third number : "))
d=int(input("Enter fourth number : "))
e=int(input("Enter fifth number : "))
print(f"Maximum = {max(a,b,c,d,e)}")
print(f"Minimum = {min(a,b,c,d,e)}")

Enter first number : 1
Enter second number : 2
Enter third number : 3
Enter fourth number : 4
Enter fifth number : 5
Maximum = 5
Minimum = 1

11. (Body Mass Index Calculator): BMI= weightInKilograms/ (heightInMeters2
). User will enter his weight in
Kilograms and height in meters (1 M=3.23 Feet) and the BMI of the user and display following:
• Display “You are Underweight” if BMI is less than 18.5
• Display “You are Normal” if BMI is between 8.5 and 24.9
• Display “You are Overweight” if BMI is between 25 and 29.9
• Display “You are Obese” if BMI is greater than 30
Use And (&&) operator for writing multiple conditions in the if statement

In [ ]:
w=int(input("Enter your weight in kilograms : "))
h=float(input("Enter your height in meters : "))
BMI=w/(h*h)
if BMI<18.5:
  print("You are Underweight")
elif BMI>18.5 and BMI<24.9:
  print("You are Normal")
elif BMI>25 and BMI<29.9:
  print("You are Overweight")

Enter your weight in kilograms : 49
Enter your height in meters : 5.4
You are Underweight

12. Write two functions add and multiply with five arguments and default values. These functions display result

In [ ]:
def add(a=0,b=0,c=0,d=0,e=0):
  print(a+b+c+d+e)
def multiply(a=0,b=0,c=0,d=0,e=0):
  print(a*b*c*d*e)
add(1,2,3,4,5)
multiply(1,2,3,4,5)

15
120

13. Write a function, which takes 5 arguments and print their average. Call this function

In [ ]:
def avg(a,b,c,d,e):
  print((a+b+c+d+e)/5)
avg(1,2,3,4,5)

3.0

14. Write a function, which takes 5 arguments and print the larges and smallest

In [ ]:
def largest(a,b,c,d,e):
  print(max(a,b,c,d,e))
def smallest(a,b,c,d,e):
  print(min(a,b,c,d,e))
largest(1,2,3,4,5)
smallest(1,2,3,4,5)

5
1

15. Write a function which take the radius of circle as first argument and a char (a or c) as second argument. If second
argument is a then return the area of circle. If the second argument is c then return the circumference of circle

In [ ]:
import math

def circle_calc(radius, choice):
    if choice.lower() == 'a':

        return math.pi * radius * radius
    elif choice.lower() == 'c':

        return 2 * math.pi * radius
    else:
        return "Invalid choice!"


r = float(input("Enter radius of circle: "))
ch = input("Enter 'a' for area or 'c' for circumference: ")

result = circle_calc(r, ch)
print("Result =", result)

Enter radius of circle: 2
Enter 'a' for area or 'c' for circumference: c
Result = 12.566370614359172

16. Modify the two-number calculator problem and solve it using functions for add, sub etc. Return the results from
these functions and display them in main.

In [ ]:
def add(a,b):
  print(a+b)
def sub(a,b):
  print(a-b)
def mul(a,b):
  print(a*b)
def div(a,b):
  print(a/b)
add(10,20)
sub(10,20)
mul(10,20)
div(10,20)

30
-10
200
0.5